*{
	margin:0px;
	padding:0px;
	letter-spacing:1px;
	color:white;
}
body{
	background-color:#00284d;
}
h1{
	margin:10px;
}
h2{
	margin:20px;
}
div.pick{
	border:1px solid black;
	margin:10px;
	width:125px;
	height:125px;
	background-color:black;
}
div#jumbo{
	background-color:grey;
	padding-top:10px;
	border-bottom: 1px solid black;
	
}
div#big{
	margin-top:120px;
}
div#input{
	display:flex;
	align-items: center;
	justify-content:center;
}
div#scoreBoard{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top:25px;
}
div#win{
	margin-right:200px;
	background-color:grey;
	padding:20px;
	text-align:center;
	border:1px solid black;
	border-radius:5px;
}
div#ratio{
	background-color:grey;
	padding:20px;
	text-align:center;
	border:1px solid black;
	border-radius:5px;
}
div#lose{
	margin-left:200px;
	background-color:grey;
	padding:20px;
	text-align:center;
	border:1px solid black;
	border-radius:5px;
}
input#button{
	margin-left:43%;
	margin-bottom:30px;
	background-color:grey;
	height:70px;
	width:200px;
	border:1px solid black;
	border-radius:5px;
	font-size:20px;
}
